{% extends 'base.html' %}
{% block title %}Add employee{% endblock %}

{% block content %}
<a class="btn btn-outline-secondary back-btn" href="{{ url_for('index') }}">
  <i class="bi bi-arrow-left"></i> Back
</a>

<div class="card p-4">
  <h4>Add employee</h4>
  <form method="post">

    <!-- Employee ID -->
    <div class="mb-3">
      <label class="form-label">Employee ID</label>
      <input name="employee_id" class="form-control" required>
    </div>

    <!-- Name row -->
    <div class="row">
      <div class="col-md-4 mb-3">
        <label class="form-label">First name</label>
        <input name="first_name" class="form-control" required>
      </div>

      <div class="col-md-4 mb-3">
        <label class="form-label">Middle name (optional)</label>
        <input name="middle_name" class="form-control">
      </div>

      <div class="col-md-4 mb-3">
        <label class="form-label">Last name</label>
        <input name="last_name" class="form-control" required>
      </div>
    </div>

         <div class="col-md-4 mb-3">
        <label class="form-label">Plant Location</label>
        <select name="plant_location" class="form-select">
          <option value="">-- choose plant location --</option>
          <option value="BAL">BAL</option>
          <option value="SKODA">SKODA</option>
          <option value="Mercedes_Benze">Mercedes_Benze</option>
        </select>
      </div>
    </div>

    <!-- Department + Designation -->
    <div class="row">
      <div class="col-md-6 mb-3">
        <label class="form-label">Department</label>
        <select name="department" class="form-select">
          <option value="">Select department</option>
          <option>Purchase</option>
          <option>ME</option>
          <option>HR Admin</option>
          <option>Production</option>
          <option>Quality</option>
          <option>Store</option>
          <option>Other</option>
        </select>
      </div>

      <div class="col-md-6 mb-3">
        <label class="form-label">Designation</label>
        <input name="designation" class="form-control" placeholder="e.g. Supervisor, Engineer">
      </div>
    </div>

  

      <div class="col-md-6 mb-3">
        <label class="form-label">Emergency number</label>
        <input name="emergency_number"
               class="form-control"
               pattern="[0-9]{10}"
               maxlength="10"
               minlength="10"
               title="Enter exactly 10 digits"
               placeholder="10-digit emergency number">
      </div>
    </div>

    <button class="btn btn-primary">Save</button>
  </form>
</div>

{% endblock %}
